/* Top Bar */
.top-bar{
    background: var(--primary-color);
}

.top-bar .navbar-collapse{
    margin-right: 88px;
}

.top-bar .nav-item .nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: var(--text-secondary-color) !important;
    padding: 6px;
}

.top-bar .nav-item:first-child{
    margin-right: 42px;
}

.top-bar .nav-item .nav-link img{
    margin-right: 6px;
    width: 20px;
    height: 20px;
}

/* bottom bar OR Main Navbar */
.bottom-bar{
    background: var(--text-secondary-color);
}

.main-navbar{
    padding-left: 93px;
    padding-right: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main-navbar .nav-item .nav-link{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: var(--text-primary-color);
    margin-right: 48px;
}

.main-navbar .nav-item:last-child{
    margin-right: 8px;
}

.main-navbar .btn{
    background: var(--primary-color);
    border-radius: 6px;
    padding: 17px 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: var(--text-secondary-color);
}

/* Responsive css of Header */
@media (max-width: 444px) {
    .top-bar .nav-item .nav-link{
        font-size: 11px;
    }
}

@media (max-width: 991px){
    .top-bar .navbar-collapse{
        margin-right: 0;
    }
    .main-navbar{
        padding-left: 12px;
        padding-right: 12px;
    }
    .main-navbar .nav-item:first-child {
      padding-top: 18px;
    }
}

@media (max-width:1322px) and (min-width:992px){
    .main-navbar .nav-item .nav-link {
        font-size: 14px;
        margin-right: 10px;
    }
    .main-navbar .btn{
        padding: 17px 10px;
        font-size: 14px;
    }
}